:root {
  --main-bg-color: #2b2b2b;
  --main-text-color: #e3e3e3;
  --padding: 20px;
  --link-color: #85cee6;
}

html,
body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: transparent;
}

button {
  padding: 0;
  margin: 0;
  border: none;
}
