.header {
  background-color: var(--secondary-background-color);
  padding: 10px var(--padding);
  display: flex;
  justify-content: center;
}

.item {
  display: inline-block;
}

.item + .item {
  margin-left: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  max-width: 1000px;
}

.logo {
  background-color: #848484;
  width: 70px;
  height: 30px;
}

.link {
  text-decoration: none;
  color: var(--link-color);
}

.link:hover {
  text-decoration: underline;
}
