.footer {
  background-color: var(--secondary-background-color);
  display: flex;
  padding: 10px var(--padding);
  justify-content: center;
  align-items: center;
}

.item {
  display: inline-block;
}

.item + .item {
  margin-left: 20px;
}

.link {
  text-decoration: none;
  color: var(--link-color);
}

.link:hover {
  text-decoration: underline;
}
