.footer {
  --footer-height: 100px;
  background-color: #0c0c0c;
  display: flex;
  padding: 10px var(--padding);
  justify-content: center;
  align-items: center;
  height: var(--footer-height);
}

.item {
  display: inline-block;
}

.item + .item {
  margin-left: 20px;
}

.link {
  text-decoration: none;
  color: var(--link-color);
}

.link:hover {
  text-decoration: underline;
}
