.image {
  width: 100%;
  background: lightgray;
}

.imageLink {
  color: var(--link-color);
}

.imageInfo {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
}

.imageAuthor {
  margin: 0;
}

.imageAuthor + .imageLink {
  margin-left: 10px;
}
